<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
    <h2>送信内容確認画面</h2>
    <form method="post" action="#" th:action="@{/inquiry/save}" th:object="${inquiryForm}">
        お名前:<span th:text="*{name}"></span><br>
        email:<span th:text="*{email}"></span><br>
        お問い合わせ内容:<span th:text="*{text}"></span><br>

        <input type="hidden" name="name" th:value="*{name}">
        <input type="hidden" name="email" th:value="*{email}">
        <input type="hidden" name="text" th:value="*{text}">
        <input type="submit" value="送信">
    </form>
</body>
</html>
