<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container filed">
    <h2>送信内容確認画面</h2>
    <form method="post" action="#" th:action="@{/inquiry/save}" th:object="${inquiryForm}">
        お名前:<span th:text="*{name}"></span><br>
        email:<span th:text="*{email}"></span><br>
        お問い合わせ内容:<span th:text="*{text}"></span><br>

        <input type="hidden" name="name" th:value="*{name}">
        <input type="hidden" name="email" th:value="*{email}">
        <input type="hidden" name="text" th:value="*{text}">
        <button type="submit" class="btn btn-primary btn-input btn-sm">送信</button>
    </form>
    </div>
<!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    
</body>
</html>
