<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>入力画面</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>

<div class="form-group">
  <h1>入力してください</h1>

<form method="post" action="/inquiry/confirm">

  <div>
    <label for="name">お名前</label><span class="tag"></span><br />
    <input type="text" id="name" name="name" class="form-control form-control-sm">
  </div>

  <div>
    <label for="email">メールアドレス</label><span class="tag"></span><br />
    <input type="text" id="email" name="email" class="form-control form-control-sm">
  </div>

  <div>
    <label for="text">お問い合わせ内容</label><span class="tag"></span><br />
    <textarea id="text" name="text" cols="30" rows="10" class="form-control"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-input btn-sm">確認</button>
</form>

<!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!-- Bootstrapの設定 -->
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>